
  #pronunciation {
    font-style: italic;
    font-size: .7em;
    font-family: courier;
    text-transform: lowercase;
  }

#desc {
  max-width: 300px;
  text-transform: lowercase;
 }
 
 .me-image {
   max-height: 300px;
   border-radius: 10%;
 }
 
 #placeholder {
   text-align: center;
   }
   
   #selfDesc {
   text-transform: none;
   }

#header-wrapper {
  background-position: 70% 20% !important;
  background: url('images/header.png');
  }
