
  #pronunciation {
    font-style: italic;
    font-size: .7em;
    font-family: courier;
    text-transform: lowercase;
    padding-left: 110px;
  }
  
  #name {
  font-size: 5em;
  font-family: helvetica;
  }

#desc {
  max-width: 300px;
  text-transform: lowercase;
 }
 
 .me-image {
   max-height: 210px;
   border-radius: 10%;
   max-width: 193px;
 }
 
 #placeholder {
   text-align: center;
   }
   
   #selfDesc {
   text-transform: none;
   }

#header-wrapper {
  background-position: 50% 20% !important;
  background: url('images/header2.jpg');
  }
  
