.FormElement {
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.bg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.box {
  width: 700px ;
  margin-left: 200px ;
  margin-right: auto ;
  margin-top: 100px;
  margin-bottom: auto;
}

html, body {
    margin: 0;
}

.header {
   color: white;
   font-size: 40px;
   font-family: Helvetica;
   font-weight: bold;
   margin-left: 5px;
   margin-top: 2px;
}
.header:hover {
   opacity: .5;
}
