.postImg {
  max-width: 30%;
}

.contactText {
   font-style: italic;
   font-size: .8em;
 }

p {
  font-family: helvetica;
  font-size: .85em;
}

.blogImg {
  max-width: 100%
}

.site-heading {
color: white;
}
